.make-quiz-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.make-quiz-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.make-quiz-navlink {
  display: contents;
}
.make-quiz-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.make-quiz-container01 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.make-quiz-navlink1 {
  display: contents;
}
.make-quiz-component {
  text-decoration: none;
}
.make-quiz-icon-group {
  display: flex;
}
.make-quiz-burger-menu {
  display: none;
}
.make-quiz-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.make-quiz-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.make-quiz-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.make-quiz-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.make-quiz-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.make-quiz-image1 {
  height: 2rem;
}
.make-quiz-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.make-quiz-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.make-quiz-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.make-quiz-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.make-quiz-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.make-quiz-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.make-quiz-container03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.make-quiz-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.make-quiz-text {
  margin-bottom: var(--dl-space-space-unit);
}
.make-quiz-container04 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.make-quiz-text01 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.make-quiz-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.make-quiz-container06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.make-quiz-textinput01 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.make-quiz-textinput06 {
  margin-top: var(--dl-space-space-unit);
}
.make-quiz-text02 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}
.make-quiz-container07 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.make-quiz-text03 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.make-quiz-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.make-quiz-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.make-quiz-textinput07 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.make-quiz-textinput12 {
  margin-top: var(--dl-space-space-unit);
}
.make-quiz-text04 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}
.make-quiz-container10 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.make-quiz-text05 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.make-quiz-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.make-quiz-container12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.make-quiz-textinput13 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.make-quiz-textinput18 {
  margin-top: var(--dl-space-space-unit);
}
.make-quiz-text06 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}
.make-quiz-container13 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.make-quiz-text07 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.make-quiz-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.make-quiz-container15 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.make-quiz-textinput19 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.make-quiz-textinput24 {
  margin-top: var(--dl-space-space-unit);
}
.make-quiz-text08 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}
.make-quiz-container16 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.make-quiz-blog-post-card1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.make-quiz-blog-post-card2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.make-quiz-navlink2 {
  text-decoration: none;
}
.make-quiz-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.make-quiz-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.make-quiz-dropdown-arrow {
  transition: 0.3s;
}
.make-quiz-icon12 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.make-quiz-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.make-quiz-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.make-quiz-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.make-quiz-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.make-quiz-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.make-quiz-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.make-quiz-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.make-quiz-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.make-quiz-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.make-quiz-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.make-quiz-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.make-quiz-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.make-quiz-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.make-quiz-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.make-quiz-image2 {
  width: 200px;
  object-fit: cover;
}
.make-quiz-link {
  display: contents;
}
.make-quiz-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.make-quiz-link1 {
  display: contents;
}
.make-quiz-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.make-quiz-link2 {
  display: contents;
}
.make-quiz-icon18 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.make-quiz-container17 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 767px) {
  .make-quiz-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .make-quiz-burger-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .make-quiz-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .make-quiz-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .make-quiz-container04 {
    width: 100%;
  }
  .make-quiz-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .make-quiz-container06 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .make-quiz-container07 {
    width: 100%;
  }
  .make-quiz-text03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .make-quiz-container09 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .make-quiz-container10 {
    width: 100%;
  }
  .make-quiz-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .make-quiz-container12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .make-quiz-container13 {
    width: 100%;
  }
  .make-quiz-text07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .make-quiz-container15 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .make-quiz-blog-post-card1 {
    flex-direction: column;
    justify-content: space-between;
  }
  .make-quiz-blog-post-card2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .make-quiz-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .make-quiz-text12 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .make-quiz-header {
    padding: var(--dl-space-space-unit);
  }
  .make-quiz-mobile-menu {
    padding: 16px;
  }
  .make-quiz-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .make-quiz-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .make-quiz-text12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
